# R
.Rhistory
.Rapp.history
.Renviron
.Rproj.user/

# Don't track sensitive data files:
# - Prolific recruitment info and ids
data/prolific_*.csv
data/prolific_*.pdf
# - Link proliferate worker ids to prolific ids
data/*-workerids.csv